body{
  background-color: rgba(143, 170, 194, 0.1);
  margin: 0px;
  padding: 0px;
  font-family: "Merriweather", serif;
}
/*хедер*/
header{
  background-color: rgba(143, 170, 194, 0.2);
  width: 1440px;
  height: 150px;
  padding: 0px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
header a{
  text-decoration: none;
}
.logotip{
  margin: 43px auto 44px 100px;
  font-size: 48px;
  font-weight: 700;
  color:rgba(0, 31, 40, 0.9)
}
.navigation-menu{
  display: flex;
  justify-content: space-between;
  width: 427px;
  padding: 0px;
  margin: 51px 100px 52px auto;
}
.navigation-main{
  font-size: 36px;
  font-weight: 400;
  color:rgba(0, 31, 40, 0.9);
  margin: 0px auto 0px 0px;
}
.navigation-myForms{
  font-size: 36px;
  font-weight: 400;
  color:rgba(0, 31, 40, 0.9);
  margin: 0px 0px 0px auto;
}
h1{
  font-size: 40px;
  font-weight: 400;
  color: rgba(0, 31, 40, 0.9);
  margin: 53px auto 80px auto;
  text-align: center;
}
/*создание формы главная*/
.forms{
  display: flex;
  justify-content: space-between;
  width: 1050px;
  height: 234px;
  margin: 0px 195px 0px 195px;
  list-style: none;
}
.forms a{
  text-decoration: none;
}

.form-rectangle{
  width: 300px;
  height: 200px;
  background-color: rgba(217, 217, 217, 1);
}
.form-text{
  text-align: center;
  margin-top: 8px;
}
.form-text a{
  color: rgba(0, 31, 40, 0.9);
  font-size: 20px;
  font-weight: 400;
}

/*меню создания формы*/
.menu{
  display: flex;
  justify-content: space-between;
  margin: 37px auto 9px auto;
  padding: 0px;
  width: 391px;
}

.menu a{
  text-decoration: none;
  font-size: 24px;
  font-weight: 40000;
  color: rgba(0, 31, 40, 0.9);
}
.menu a:active{
  text-decoration: underline;
  font-weight: 700;
}
/*блок создания формы*/
.test{
  display: block;
  background-color: rgba(245, 245, 245, 1);
  width: 1040px;
  margin: 0px auto;
  margin-bottom: 45px;  
  padding: 0px;
}

.test-block{
  display: flex;
  justify-content: space-between;
  margin: 0px 17px 37px 28px;
  padding-top: 31px;
}
/*блок для полей и вопросов и выпадающего списка*/
.add-container{
  display: flex;
  flex-direction: column;
  width: 755px;
}
.fields-container{
  margin-bottom: 0px;
}

.questions-container{
  margin-top: 25px;
  width: 680px;
}

.dropdown-questions {
  position: relative;
  max-width: 262px;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  background-color: rgba(143, 170, 194, 0.2);
  border: 1px solid rgba(71, 88, 102, 1);
  padding: 0px;
  cursor: pointer;
}

.plus-symbol {
  margin: 5px 10px 5px 5px;
}

.add-question-text {
  margin: 3px 10px 2px 0px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 31, 40, 0.9);
}

.arrow-down {
  margin: 9px 0px 2px 0px;
}

/* Стили для выпадающего списка */
.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(143, 170, 194, 0.2);
  border: 1px solid rgba(71, 88, 102, 1);
}

.dropdown-option {
  padding: 6px 10px;
  padding-left: 42px;
  cursor: pointer;
}

.dropdown-option:not(:last-child) {
  border-bottom: 1px solid rgba(71, 88, 102, 1);
}

.dropdown-option:hover {
  background-color: rgba(71, 88, 102, 0.2); 
}



/*блок для добавления полей и вопросов*/
.line-and-add{
  margin: 0px;
  display: flex;
  height: 100%;
}

.line{
  border-left: 1px solid;
  color: rgba(0, 31, 40, 0.9);
  height: 459px;
}

.add-field-and-question{
  align-self: center;
  margin: 6px 0px 9px 10.5px;
  width: 209px;
}

.add-field{
  margin: 0px 27px 46px 0px;
}
.add-field h2{
  margin: 0px 0px 18px 22px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 31, 40, 0.9);
}
.add-field ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 124px;
  padding:0px;
}
.add-field li{
  list-style: none;
  font-size: 20px;
  font-weight: 400;
}
.add-field a{
  text-decoration: none;
  color:rgba(0, 31, 40, 0.9);
}

.add-question{
  margin: 0px;
  padding: 0px;
}
.add-question h2{
  margin: 0px 8px 17px 9px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 31, 40, 0.9);
}
.add-question ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
  padding: 0px;
}
.add-question li{
  list-style: none;
}

.answers button { 
  font-size: 20px; 
  font-family:'Times New Roman', Times, serif ;
  font-weight: 400; 
  text-decoration: none; 
  color: rgba(0, 31, 40, 0.9); 
  background-color: transparent;
  border: none;
  cursor: pointer; 
  margin: 0px;
  padding: 0px;
}
.add-field button{
  font-size: 20px; 
  font-family:'Times New Roman', Times, serif ;
  font-weight: 400; 
  text-decoration: none; 
  color: rgba(0, 31, 40, 0.9); 
  background-color: transparent;
  border: none;
  cursor: pointer; 
  margin: 0px;
  padding: 0px;
}
/*кнопка публикации*/
.publiced{
  margin: 0px 422px 32px 422px;
  padding: 9px 22px 8px 23px;
  border: none;
  text-align: center;
  background-color: rgba(71, 88, 102, 1);
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color:rgba(245, 245, 245, 1);
  cursor: pointer;
}
/*стилизация вопросов*/
.question { 
  border: none;
  margin-bottom: 25px;
  padding: 0px;
  width: 680px;
  background-color: rgba(143, 170, 194, 0.1);
} 

.question-title{
  margin: 14px auto 3px 41px;
  padding: 0px;
  font-weight: 400;
  font-size: 20px;
  border: none;
  color: rgba(0, 31, 40, 0.9);
  background-color: transparent;
}
.question-title::placeholder{
  color: rgba(0, 31, 40, 0.9);
}
.question-title:focus{
  outline: none;
}

.question hr { 
  border: none; 
  border-top: 1px solid rgba(0, 31, 40, 0.85); 
  max-width: 600px;
  margin: 0px 51px 7px 29px; 
} 
.question button { 
  padding: 0px;
  background: none; 
  border: none;  
  cursor: pointer; 
} 

.question1 .option-container{
  margin: 0px 51px 7px 15px;
}

.question1 .option-input{
  margin: 3px 375px 3px 10px;
  padding: 0px;
  font-weight: 300;
  font-size: 16px;
  border: none;
  color: rgba(0, 31, 40, 0.9);
  background-color: transparent;
}

.question1 .option-input::placeholder{
  color: rgba(0, 31, 40, 0.9);
  font-weight: 300;
  font-size: 16px;
}
.question1 .option-input:focus{
  outline: none;
}

.add-option{
  margin: 0px 455px 0px 45px;
  padding: 0px;
  font-weight: 300;
  font-size: 16px;
  color: rgba(0, 31, 40, 0.6);
}
.option-radioButton{
  padding: 0px;
  margin-bottom: 4px;
}

.number-option{
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 31, 40, 0.9);
  margin: 4px 5px auto 3px;
  padding: 0px;
}

.question3 .option-container{
  margin: 0px 51px 7px 15px;
}

.question3 .option-input{
  margin: 3px 375px 3px 10px;
  padding: 0px;
  font-weight: 300;
  font-size: 16px;
  border: none;
  color: rgba(0, 31, 40, 0.9);
  background-color: transparent;
}

.question3 .option-input::placeholder{
  color: rgba(0, 31, 40, 0.9);
  font-weight: 300;
  font-size: 16px;
}

.question3 .option-input:focus{
  outline: none;
}

.question{
  display: flex;
  flex-direction: column;
  position: relative;
}

.delete-question{
  align-self: flex-end;
  margin-bottom: 5px;
  margin-right: 5px;
}
 .question-answer{
  margin: 29px auto 4.5px 42px;
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  color: rgba(0, 31, 40, 0.6);
  background-color: transparent;
}

.question4 .answer-line { 
  border-top: 1px solid rgba(0, 31, 40, 0.6) !important; 
  max-width: 242px !important;
  margin: 0px auto 27px 29px !important; 
} 

.question4{
  padding-bottom: 0.5px;
}

.question5 .answer-line { 
  border-top: 1px solid rgba(0, 31, 40, 0.6) !important; 
  max-width: 600px !important;
  margin: 0px auto 27px 29px !important; 
} 

.question5{
  padding-bottom: 0.5px;
}
.scale{
  margin: 20px auto 23px 29px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 31, 40, 0.9);
}
.question6{
  padding-bottom: 0.5px;
}


.field-title { 
  border: none;
  margin-bottom: 25px;
  padding: 0px;
  width: 755px;
  background-color: rgba(143, 170, 194, 0.1);
} 

.input-field{
  margin: 15px auto 16px 39px;
  font-weight: 400;
  font-size: 32px;
  border: none;
  color: rgba(0, 31, 40, 0.9);
  background-color: transparent;
}
.input-field::placeholder{
  color: rgba(0, 31, 40, 0.9);
  font-size: 32px;
}
.input-field:focus{
  outline: none;
}


.divider{
  border: none; 
  border-top: 1px solid rgba(0, 31, 40, 0.85); 
  max-width: 655px;
  margin: 0px 66px 23px 34px; 
}
.textarea-field{
  margin: 0px auto 0px 39px;
  padding: 0px;
  font-weight: 400;
  font-size: 20px;
  border: none;
  color: rgba(0, 31, 40, 0.7);
  background-color: transparent;
  max-width: 650px;
  min-width: 650px;
  width: 100%;
  min-height: 40px;
  max-height: none;
  resize: none; 
}
.textarea-field::placeholder{
  color: rgba(0, 31, 40, 0.6);
  font-size: 20px;
}
.textarea-field:focus{
  outline: none;
}

.field-text { 
  border: none;
  margin-bottom: 25px;
  padding-bottom: 0.5px;
  width: 680px;
  background-color: rgba(143, 170, 194, 0.1);
} 

.field-text textarea{
  margin: 19px auto 0px 36px;
  font-weight: 400;
  font-size: 20px;
  border: none;
  color: rgba(0, 31, 40, 0.6);
  background-color: transparent;
  max-width: 590px;
  width: 100%;
  min-height: 40px;
  max-height: none;
  resize: none; 
}
.field-text textarea::placeholder{
  color: rgba(0, 31, 40, 0.6);
  font-size: 20px;
}
.field-text textarea:focus{
  outline: none;
}
.field-text hr{
  border: none; 
  border-top: 1px solid rgba(0, 31, 40, 0.6); 
  max-width: 600px;
  margin: 0px auto 19px 24px; 
}

.rating-select{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

.rating-select:focus{
  outline: none;
}

.modal-overlay-field {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-field {
  background: rgba(245, 245, 245, 1);
  width: 700px;
  height: 334px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Merriweather", serif;
}

.modal-field h2{
  margin-top: 32px;
  font-weight: 700;
  font-size: 32px;
  color: rgba(0, 31, 40, 0.9);
}

.modal-field input{
  margin-top: 106px;
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 300;
}

.modal-field button{
  font-size: 20px;
  font-weight: 500;
}
.uploaded{
  display: flex;
}
.uploaded-picture{
  max-width: 300px;
  height: auto;
  margin-bottom: 25px;
}

.uploaded-video{
  max-width: 300px;
  height: auto;
}
.delete-uploaded{
  border: none;
  background-color: transparent;
  align-self: flex-end;
  margin-bottom: 25px;
  cursor: pointer;
  padding: 0px;
  margin-left: 0px;
}

.modal-overlay-public {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-public {
  background-color: rgba(245, 245, 245, 1);
  width: 800px;
  display: flex;
  flex-direction: column;
}
.modal-public h2{
  align-self: center;
  color: rgba(0, 31, 40, 0.9);
  margin-top: 36px;
  margin-bottom: 70px;
  font-size: 28px;
  font-weight: 700;
}

.modal-public p{
  font-size: 24px;
  font-weight: 300;
  margin-left: 64px;
  margin-bottom: 19px;
}

.link-container {
  display: flex;
}

.link{
  background-color: rgba(143, 170, 194, 0.2);
  padding: 12px 11px 10px 10px;
  border: 1px solid rgba(0, 31, 40, 0.9);
  border-radius: 20px;
  width: auto;
  margin: 0px 36px 60px 54px;
  font-size: 20px;
  font-weight: 300;
}

.link-container button{
  align-self: flex-start;
  background-color: transparent;
  border: none;
  margin-top: 9px;
  cursor: pointer;
}
.close-form{
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 31, 40, 0.6);
  margin-bottom: 39px;
}
