.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.modal-content h2{
    color: rgba(0, 31, 40, 0.9);
    font-size: 28px;
    font-weight: 700;
    margin: 26px auto;
}

.modal-content p{
    color: rgba(0, 31, 40, 0.9);
    font-size: 22px;
    font-weight: 300;
    margin: 0px auto 40px 40px;
    padding: 0px;
}

.modal-content button{
    color: rgba(0, 31, 40, 0.6);
    border: none;
    background-color: transparent;
    font-size: 22px;
    font-weight: 400;
    margin: 0px auto 20px auto;
    cursor: pointer;
}