.menu{
    display: flex;
    justify-content: space-between;
    margin: 37px auto 0px auto;
    padding: 0px;
    width: 291px;
}
  
.menu span{
    font-size: 24px;
    font-weight: 40000;
    color: rgba(0, 31, 40, 0.9);
    cursor: pointer;
}
.active{
    text-decoration: underline;
    font-weight: 700;
}